<!-- Actions en lien avec la liste des membres -->
<p id="msgAjax"></p>
<div class="zone-action">
    <ul>
        <li><a href='/vider'><i class="fas fa-trash"></i><%= __('navVider') %></a></li>
        <li><a href='/peupler'><i class="fas fa-users"></i><%= __('navPeupler') %></a></li>
    </ul>
    <form class='form_recherche' action="/rechercher" name='form_recherche' id='form_recherche' method="POST" >
        <input type="text" name="chaine" placeholder="<%= __('rechercherMembre') %>">
        <input type="submit" value="<%= __('rechercher') %>">
    </form>
</div>