<!-- En-tête du site -->
<header class='entete'>
    <div class="conteneur-entete">
        <div class="titre">
            <h1>TP1</h1>
        </div>
        <nav> 
            <ul>
                <li><a href='/'><%= __('navAccueil') %></a></li>
                <li><a href='/list'><%= __('navMembres') %></a></li>
                <li><a href='/chat'><%= __('clavardage') %></a></li>
                <li>
                <% if(getLocale()=='fr') { %>
                    <a href='/en'>En</a>
                <% } if (getLocale()=='en') {%>
                    <a href='/fr'>Fr</a>
                <% } %>
                </li>
            </ul>
        </nav> 
    </div>
</header>