<!-- En-tête du site -->
<header class='entete'>
    <div class="conteneur-entete">
        <div class="titre">
            <h1>TP1</h1>
        </div>
        <nav> 
            <ul>
                <li><a href='/'>Accueil</a></li>
                <li><a href='/list'>Membres</a></li>
            </ul>
        </nav> 
    </div>
</header>