<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TP1 - <%= __('titreSite') %></title>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/tableau.css">
        <link rel="stylesheet" type="text/css" href="/css/formulaires.css">
        <link rel="stylesheet" type="text/css" href="/css/entete.css">
        <link rel="stylesheet" type="text/css" href="/css/pages.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>