<!-- Page d'accueil-->
<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <main id="accueil">
    <h1>Gestion des membres</h1>
    <p>Bienvenue sur l'application</p>
    <a class="bouton" href="/list">Voir les membres</a>
</main>
 <%- include('composants/footer') %>
</body>
</html>