<!-- Page du clavardage -->
<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <main id="clavardage">
    <%- include('composants/socket_body') %>
</main>
 <%- include('composants/footer') %>
</body>
</html>